<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    {% load crispy_forms_tags %}
    	<div class="container py-5">
	    <h1 class="font-weight-bold">Регистрация</h1>
	    <hr>
	    <br>
		<form method="POST">
			{% csrf_token %}
			{{ form|crispy }}
			<br>
			<button class="btn btn-primary" type="submit">Зарегистрироваться</button>
		</form>
		<br><br>
		<p>Уже существует аккаунт? <a href="/auth/">Войти</a></p>
	</div>
</body>
</html>